{:linters
 {:unused-binding
  {:level :warning
   :exclude-destructured-keys-in-fn-args false
   :exclude-destructured-as true
   :exclude-defmulti-args true}
  :refer-all
  {:level :info}}
 :lint-as
 {rum.core/defc clojure.core/defn
  rum.core/defcs clojure.core/defn}}
